.site_header {
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	margin-bottom: 150px;

	background-image: url('../images/banner.jpg');
	background-position: 100% 120%;
	background-attachment: fixed;
}

.shield {
	height: 400px;
	width: 300px;

	background-image: url('../images/shield.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;

}