.team_list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.team_button {
  height: 200px;
  width: 250px;

  background-size: 90% 90%;
  background-position: center center;
  background-repeat: no-repeat;
}

.division_teams {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}